@import url(http://weloveiconfonts.com/api/?family=zocial);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/*special fonts styling*/

[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
  text-shadow: 5px 5px 5px #aaa;
  width: 5vw;
  font-size: 40px;
  text-align: right;
}

[class*="fontawesome-"]:before {
  font-family: "fontawesome", sans-serif;
  text-shadow: 5px 5px 5px #aaa;
  width: 5vw;
  font-size: 40px;
  text-align: right;
}

* {
  font-family: "Lato", sans-serif;
  background-color: #99a;
  align-self: center;
  text-align: center;
}

/*row styling*/

.row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*text/paragraph styling*/

h1 {
  font-family: "Baloo Da", sans-serif;
  font-size: 48px;
  margin-bottom: 0;
}

h2 {
  text-align: left;
}

h4 {
  color: #fff;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

figcaption {
  font-size: 20px;
}

/*image styling*/

img {
  border-radius: 75px;
  border: 4px solid #3cf;
  vertical-align: center;
  position: relative;
  max-width: 100%;
}

.img-plain {
  border-radius: 0;
  border: 0;
  vertical-align: center;
  position: relative;
  max-width: 100%;
}

object, video {
  max-width: 100%;
}

/*link styling*/

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #009;
  background-color: #fff;
}

a:hover {
  color: #000;
  background-color: #3cf;
}

hr {
  border: none;
  height: 4px;
  background-color: #3cf;
}